<div ng-controller="AccountsCtrl as accounts">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-8">
			<div class="input-group col-xs-1 pull-right">
				<button ng-click="accounts.print()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-print"> Drukuj</span></button>
			</div>
		</div>
	</div>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-md-1">Numer</th>
					<th class="col-md-8">Nazwa</th>
					<th class="col-xs-0" style="width: 4%"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ac in accounts.accounts">
					<td>{{ac.Name}}</td>
					<td>{{ac.Description}}</td>
					<td class="text-center">
						<button ng-click="accounts.deleteAccount(ac)" class="btn btn-danger btn-xs" style="width: 30px"><span class="glyphicon glyphicon-remove"></span></button>
					</td>
				</tr>
			</tbody>
		</table>
		<br />
		<table class="table">
			<thead>
			</thead>
			<tbody>
				<tr>
					<td class="col-md-1">
						<input class="form-control" ng-model="accounts.newAccount.Name" placeholder="konto" />
					</td>
					<td class="col-md-8">
						<input class="form-control" ng-model="accounts.newAccount.Description" placeholder="opis" />
					</td>
					<td class="col-xs-0 text-center">
						<button ng-click="accounts.addAccount()" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Konto</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
