<div ng-controller="ProfitLossCtrl as profitLoss">
	<div class="row">
		<div class="col-md-4">
		</div>
		<div class="col-md-8">
			<div class="input-group col-xs-1 pull-right">
				<button ng-click="profitLoss.commands.print()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-print"> Drukuj</span></button>
			</div>
		</div>
	</div>
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th class="col-md-1">LP</th>
					<th class="col-md-1">Numer</th>
					<th class="col-md-7">Nazwa</th>
					<th class="col-md-4">Stan</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in profitLoss.data.items" ng-class="{bold: item.IsBold, secondary: item.IsReadOnly}">
					<td>{{$index}}</td>
					<td>{{item.Number}}</td>
					<td>{{item.Description}}</td>
					<td>
						<input ng-disabled="item.IsReadOnly" class="form-control input-sm" ng-model="item.Formula" placeholder="wzór" />
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
