<div ng-controller="documentsCtrl as documents" class="row">
	<div class="row">
		<div class="col-md-4">
			<label>rok:</label> <select style="width: 200px" class="form-control combo" ng-options="item as item for item in documents.data.allYears" ng-model="documents.data.year" ng-change="documents.commands.refresh()" name="yearSelect" required></select>
		</div>
		<div class="col-md-8">
			<div class="input-group col-xs-3 pull-right">
				<input type="text" class="col-xs-3 search-query form-control" placeholder="Szukaj" ng-model="documentSearch" />
				<span class="input-group-btn">
					<button class="btn btn-success" type="button">
						<span class=" glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-xs-0 text-center">Lp</th>
					<th class="col-xs-2 text-center">Data</th>
					<th class="col-xs-2 text-center">Numer</th>
					<th class="text-center">Treść</th>
					<th class="col-xs-1 text-center" style="width: 12%">Kwota</th>
					<th class="col-sm-1 text-center" style="width: 10%">Wn</th>
					<th class="col-sm-1 text-center" style="width: 10%">Ma</th>
					<th class="col-xs-0 text-center"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="ac in documents.data.documents | filter: documentSearch">
					<td>{{ac.AutoNumber}}</td>
					<td class="text-center">{{ac.Date | toDate }}</td>
					<td>{{ac.Number}}</td>
					<td>{{ac.Description}}</td>
					<td class="text-right">{{ac.Price | toMoney}}</td>
					<td class="text-center text-warning">{{ac.AccountDt}}</td>
					<td class="text-center text-info">{{ac.AccountCt}}</td>
					<td style="text-align: center">
						<button ng-click="documents.commands.deleteDocument(ac.Id)" class="btn btn-block btn-sm">
							<span class="glyphicon glyphicon-remove"></span>
						</button>
					</td>
				</tr>
				<tr>
					<td></td>
					<td </td>
					<td></td>
					<td class="text-right"><b>suma wszytkiego co się rusza:</b></td>
					<td class="text-right"><b>{{documents.data.documents | total : 'Price' | toMoney}}</b></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<br />
		<table class="table">
			<thead>
			</thead>
			<tbody>
				<tr>
					<td class="col-xs-0"></td>
					<td class="col-xs-2">
						<p style="width:150px" class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{documents.data.datepicker.format}}" ng-model="documents.data.newDocument.date"
								   is-open="documents.data.datepicker.opened" datepicker-options="documents.data.datepicker.dateOptions" ng-required="true"
								   clear-text="Wyczyść" current-text="Dzisiaj" close-text="Zamknij" placeholder="data" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-success" ng-click="documents.data.datepicker.open($event)">
									<i class="glyphicon glyphicon-calendar"></i>
								</button>
							</span>
						</p>
					</td>
					<td class="col-xs-2">
						<input class="form-control" ng-model="newDocument.number" placeholder="numer" />
					</td>
					<td>
						<input class="form-control" ng-model="newDocument.description" placeholder="treść" />
					</td>
					<td class="col-xs-1" style="width: 12%">
						<input class="form-control currencyEditDocument" type='' ng-model='documents.data.newDocument.Price' currency-mask placeholder="kwota" />
					</td>
					<td class="col-sm-1" style="width: 10%">
						<select class="form-control smallAcc" ng-options="item.name as item.Name + ': ' + item.Description for item in documents.data.accounts"
								ng-model="documents.data.newDocument.AccountDt" required></select>
					</td>
					<td class="col-sm-1" style="width: 10%">
						<select class="form-control smallAcc" ng-options="item.Name as item.Name + ': ' + item.Description for item in documents.data.accounts"
								ng-model="documents.data.newDocument.AccountCt" required></select>
					</td>
					<td class="col-xs-0" style="text-align: center">
						<button ng-click="documents.commands.addDocument()" class="btn btn-success">
							<span class="glyphicon glyphicon-plus"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>