<div ng-controller="OpeningBalanceCtrl as openings">
	<div class="row">
		<div class="col-md-4">
			<label>rok:</label> <select style="width: 200px" class="form-control combo" ng-options="item as item for item in openings.data.allYears" ng-model="openings.data.year" ng-change="openings.commands.getData()" name="yearSelect" required></select>
		</div>
		<div class="col-md-8">
			<div class="input-group col-xs-1 pull-right">
				<button ng-click="openings.commands.print()" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-print"> Drukuj</span></button>
			</div>
		</div>
	</div>

	<div class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="col-md-1">Numer</th>
					<th class="col-md-5">Nazwa</th>
					<th class="col-md-2 text-right">BO Wn</th>
					<th class="col-md-2 text-right">BO Ma</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="op in openings.data.openings">
					<td>{{op.Name}}</td>
					<td>{{op.Description}}</td>
					<td><input class="form-control currencyEdit" type='' ng-model='op.Dt' currency-mask placeholder="kwota Wn" /></td>
					<td><input class="form-control currencyEdit" type='' ng-model='op.Ct' currency-mask placeholder="kwota Ma"/></td>
				</tr>
				<tr>
					<td></td>
					<td class="text-right">suma syntetyk:</td>
					<td class="text-right"><b>{{openings.commands.getTotal("Dt") | toMoney}}</b></td>
					<td class="text-right"><b>{{openings.commands.getTotal("Ct") | toMoney}}</b></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="pull-right">
			<button ng-click="openings.commands.saveOpenings()" class="btn btn-success right"><span class="glyphicon glyphicon-ok"></span> Zapisz</button>
		</div>
	</div>
</div>

